


                .no-padding {
                    padding-left: 0;
                    padding-right: 0;
                }
textarea.form-control {
    height: auto;
    overflow: hidden;
}
form * {
    text-align: left;
}


body {
    font-family: Play, Verdana, Open Sans;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

html *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

html *::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

html *::-webkit-scrollbar-thumb {
    background-color: #195b3f;
    border: inset 2px #119a4c;
}


.navbar {
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    background-color: #195b3f;
    background-color: rgba(40, 49, 95, 0.05);
    background: #fff;
    padding: 5px 0;
}

.navbar-brand {
    padding: 0 10px;
    background: #fff;
}

.navbar-brand:hover {
    padding: 0 10px;
    background: #fff !important;
}

.navbar-brand > img {
    max-height: 70px;
}

.navbar-header {
    margin-left: 5% !important;
}

.navbar-right {
    margin-right: 10%;
}

.navbar-default .navbar-nav > li > a:after {
    content: '';
    background-color: #195b3f;
    width: 26px;
    height: 1px;
    position: absolute;
    top: 90%;
    left: calc(50% - 13px);
    transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:focus:after, .navbar-default .navbar-nav > li > a:hover:after, .navbar-default .navbar-nav > li.active > a:hover:after, .navbar-default .navbar-nav > li.active > a:after   {
    background-color: #f0f5ff;
    height: 3px;
    width: 34px;
    left: calc(50% - 17px);
    transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a {
    color: #195b3f;
    background-color: transparent;
    transition: all 0.3s;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active a{
    color: #f0f5ff !important;
    background-color: #195b3f !important;
    transition: all 0.3s;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #195b3f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content li {
    list-style: none;
    margin-left: -40px;
    overflow: hidden;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 10px;
    overflow: hidden;

}


.con-lv-2 li {
    list-style: none;
    margin-left: -40px;
    overflow: hidden;
    top:2px;

}

.con-lv-2 a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 10px;
    overflow: hidden;
}

.con-lv-3 li {
    list-style: none;
    margin-left: -40px;
    overflow: hidden;
    top:2px;

}

.con-lv-3 a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 10px;
    overflow: hidden;
}
.dropdown-content{
    padding-left: 0px;
    padding-right: 0px;
}
.dropdown-content li{
    margin-left: 0px;
}
.dropdown-content li a{
    margin-left: 0px;
}
.dropdown-content li:hover, .dropdown-content li:hover a, .dropdown-content li a:hover, .navbar-default .navbar-nav > li.active .dropdown-content a:hover {background-color: #fff !important;color: #000 !important;}

.dropdown-content a:hover {color: #000;}


.dr-lv-1:hover .con-lv-1{display: block;}
.dr-lv-2:hover .con-lv-2{display: block;margin-left: 100%;float: right;}
.dr-lv-3:hover .con-lv-3{display: block;margin-left: 100%;float: right;}

.dr-btn:hover .dropdown-content{display: block;}

.carousel-control {
    background-image: none !important;
    color: #195b3f;
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.carousel-control:focus, .carousel-control:hover {
    color: #999;
    -moz-opacity: 1;
    opacity: 1;
}

.carousel-indicators li {
    background-color: #ededed;
    border-color: #195b3f;
    margin: 5px;
}

.carousel-indicators li.active {
    background-color: #195b3f;
    border-color: #c1c1c1;
    margin: 5px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev .carousel-control:focus, .carousel-control:hover {
    font-size: 40px !important;
}

.glyphicon {
    font-family: FontAwesome;
}

.glyphicon-chevron-left:before {
    content: "\f104";
}

.glyphicon-chevron-right:before {
    content: "\f105";
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

    .about_slider_header h2{
        text-align: center;
        /*color:#73BE46;*/
        color:#f6a83b;
        font-size: 30px;
        font-weight: 700;
        text-transform:uppercase;
    }


.sectionHeading, .sectionHeading2, .sectionHeading3 {
    font-family: Arial;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
}

/*.sectionHeading:after, .sectionHeading2:after {*/
/*content: '';*/
/*position: absolute;*/
/*top: 80px;*/
/*left: 15px;*/
/*height: 7px;*/
/*width: 65px;*/
/*background: #fe5722;*/
/*}*/

/*.sectionHeading:after {*/
/*background: #119a4c;*/
/*}*/

/*.sectionHeading2:after {*/
/*background: #195b3f;*/
/*}*/

/*.sectionHeading.right:after {*/
/*left: unset;*/
/*right: 15px;*/
/*}*/

.sectionHeading3 {
    color: #195b3f;
    text-align: center;
}
.sectionHeading3:after {
    content: '';
    position: absolute;
    left: calc(50% - 35px);
    margin-top: 40px;
    height: 7px;
    width: 70px;
    background: #8e81d8;
}

.sectionDes {
    line-height: 25px;
    padding: 15px;
}

.seeMoreBtn, .seeMoreBtn2 {
    font-family: Arial;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-right: 15px;
    float: right;
}

.seeMoreBtn {
    color: #119a4c;
}

.seeMoreBtn2 {
    color: #195b3f;
}

.seeMoreBtn:after, .seeMoreBtn2:after {
    content: "\f105";
    margin-left: 8px;
    font-family: FontAwesome;
}

.seeMoreBtn:hover, .seeMoreBtn2:hover {
    text-decoration: none;
    color: #119a4c;
    margin-right: 10px;
    transition: all 0.3s;
}


.serviceBox {
    border: 2px solid #f1f1f1;
    padding: 10px 5px;
    height: auto;
    overflow: hidden;
    font-size: 16px;
}

.serviceBox:hover {
    border: 2px solid #d1d1d1;
}

.serviceBox img {
    height: 160px;
    width: 160px;
    padding: 5px;
    border: 1px solid #c1c1c1;
    margin-bottom: 10px;
}
.serviceBox.small{
    font-size: 14px;
    height: 200px;
}
.serviceBox.small img {
    height: 120px;
    width: 120px;
}

.serviceTitle {
    text-decoration: none !important;
}



.footer {
    background-color: #f4f4f7;
    background-color: rgba(40, 49, 95, 0.03);
    border-top: 10px solid #ededed;
    font-size: 11px;
}


.footer ul {
    -webkit-padding-start: 2px;
    list-style: none;
}

.footerBtn {
    transition: all 0.3s;
    margin-left: 2px;
    font-size: 11px !important;
}

.footerBtn:hover {
    margin-left: 5px;
    transition: all 0.3s;
}

.footer h4 {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 5px;
    letter-spacing: 2px;
    color: #191970;
}

.backToTopBtn {
    content: "\f106";
    font-family: FontAwesome;
    margin-left: 50%;
    margin-left: calc(50% - 40px);
    margin-top: -60px;
    padding: 0 15px;
    height: 60px;
    width: 60px;
    background: #fff;
    border: 3px solid #195b3f;
    border-radius: 50%;
    font-size: 40px;
    position: absolute;
    opacity: 0.7;
    cursor: pointer;
}
.devCompany {
    background: #191e3c;
    color: #999;
    margin-bottom: 0;
}
@media(max-width: 768px) {
    .carousel-indicators {
        margin-bottom: -15px;
    }

    .sectionHeading, .sectionHeading2 {
        font-size: 19px;
        margin-top: 5px;
        margin-bottom: 0;
        padding: 8px;
    }

    /*.sectionHeading:after, .sectionHeading2:after {*/
    /*top: 58px;*/
    /*left: 15px;*/
    /*height: 7px;*/
    /*width: 38px;*/
    /*}*/

    .sectionDes {
        line-height: 15px;
        padding: 15px;
        font-size: 13px;
    }

    .footer {
        text-align: center;
    }

    .footerBtn {
        font-size: 13px;
    }

    .footer .col-sm-6 {
        border-bottom: 1px solid #c1c1c1;
        border-top: 1px solid #c1c1c1;
    }
}

html {
    /*scroll-behavior: smooth;*/
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#195b3f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    /*background-color: #555;*/
    background-color: #f6a83b;
}

/*.client_logo_section li > img{*/
/*width: 120px;*/
/*}*/

.client_logo_section .uk-slider-items li{
    padding: 5px 2%;
}


        .industrySingle{
            padding: 0;
            text-decoration: none !important;
            display: inline-block;
            box-shadow: 0 25px 20px -20px #3a3a3a;
            transition: all 0.3s;
            border-radius: 20%;
        }
        .industrySingle:hover{
            box-shadow: 0 32px 20px -20px #3a3a3a;
            transition: all 0.3s;
        }
        .industrySingle .text_wrapper{
            height: 125px;
            padding: 10px;
            background: #444;
            border-radius: 0 0 10px 10px;
        }
        .industrySingle .text_wrapper p{
            color: #fff !important;
        } 
        
        .productSingle{
            padding: 0;
            text-decoration: none !important;
            display: inline-block;
            box-shadow: 0 25px 20px -20px #3a3a3a;
            transition: all 0.3s;
            border-radius: 20%;
            width: 100%;
            height: auto;
        }
        .productSingle:hover{
            box-shadow: 0 32px 20px -20px #3a3a3a;
            transition: all 0.3s;
        }
        .productSingle .text_wrapper{
            height: 125px;
            padding: 10px;
            /*background: #444;*/
            background: #195b3f;
            border-radius: 0 0 10px 10px;
        }
        .productSingle .text_wrapper p{
            color: #fff !important;
        }


        /*Dark footer*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
  /*background:#282d32;*/
  background:#3b3e42;
}

.footer-dark h3 {
  margin-top:11px;
  margin-bottom:15px;
  font-weight:bold;
  font-size:16px;
    /*padding: 5px;*/
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  /*opacity:0.75;*/
  opacity:1.75;
  background: #fff!important;
}
.footer-dark .item.social > a.orange{
        color: #f6a83b!important;
    background: #195b3f!important;

    /*background: #f6a83b!important;*/
}
.footer-dark .item.social > a.green{
    /*color: #195b3f!important;*/
    color: #f6a83b!important;
    background: #195b3f!important;
}
.footer-dark .item.social > a:hover {
  /*opacity:0.9;*/
  opacity:0.65;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
  margin-top:20px;
}
.footer-dark .copyright a {
	color: #6cecfd!important;
}
.footer-logo{

}
/*end Dark Footer*/

 /* ***********************start paginations************************ */

        /*#simplePagination{
              margin: auto;
              width: 50%;
              border: 3px solid green;
              padding: 10px;
        }*/
         .paginationjs{
              /*margin: auto;
              width: 50%;
              padding: 10px;*/
              text-align: center;
              justify-content: center;
               display: flex;
        } 
         
         .paginationjs-pages{
              text-align: center;
        }
         .paginationjs-pages ul{
              margin:0 auto;
                /*display: inline-block !important;*/
                padding: 0 !important;
                /* For IE, the outcast */
                zoom:1 !important;
                  justify-content: center;
               display: flex;
        }
         .paginationjs-pages ul li{
            display:inline !important;
            text-align: center !important;
             /*background: #195b3f;*/
        } 
         .paginationjs-pages ul li a{
            /*color: #195b3f!important;*/
        }
         .paginationjs .paginationjs-pages li.active>a {
            background: #f6a83b!important;
        }

         /*paginations end*/
         /*ChatBot*/
.chat_icon{
	position: fixed;
	bottom: 0;
	right: 25px;
	z-index: 1000;
	padding: 5px;
	font-size: 65px;
	color: #f6a83b;
	cursor: pointer;
}
.chat_box{
	width: 350px;
	height: 80vh;
	position: fixed;
	/*bottom: 80px;*/
	bottom: 80px;
	right: 30px;
	background:#dedede;
	z-index: 1000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}
/*.chat_box{
	width: 350px;
	height: 80vh;
	position: fixed;
	bottom: 20px;
	right: 100px;
	background:#dedede;
	z-index: 1000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}*/
.chat_box.active{
	transform: scaleY(1);
}
/*div.conv-form-wrapper {
    position: relative;
    background: lightsteelblue;
    height: 70vh;

}*/
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}
div.conv-form-wrapper  div#messages div.message {
    font-size: 1.25rem!important;
    color: #000!important;
}
form.convFormDynamic textarea.userInputDynamic {
    font-size: 1.25rem!important;
    color: #000!important;
}
form.convFormDynamic button.submit {
    /*padding: 11px;*/
    background: #06c5a6;
}
div.conv-form-wrapper div.options div.option {
    font-size: 1.25rem!important;
}