﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="WebApplicationProject.UI.Admin.About" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
      <!-- bootstrap wysihtml5 - text editor -->
    <style>
        .box-header {
	    background: #00c0ef;
    }
        .clearSpace{
            margin-top:6px;
        }
        .alert-info {
            background: rgb(10, 184, 104);
            color: #fff;
        }
        .alert-danger{
            background: rgb(211, 17, 17);
            color: #fff;
        }
        .error{
            background: rgb(211, 17, 17);
            color: #fff;
        }
        .alert-warning {
            background: rgb(235, 156, 12);
            color: #fff;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
    <div class="alert" id="message_box" style="text-align: center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <div class="" id="msgBox2" style="text-align: center">
    </div>
      <div class="row">
          <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Form </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
                <div class="form-group">
                <label class="control-label" for="companyDescription">Company Description:</label>
                    <input type="hidden" name="aboutId" id="aboutId" value="" />
                    <textarea class="form-control" id="companyDescription" name="companyDescription" placeholder="Company Description" rows="10" cols="80">
                    </textarea>
                </div>
                <div class="form-group">
                <label class="control-label" for="mission">Mission:</label>
                    <textarea class="form-control" id="mission" name="mission" placeholder="Mission" rows="10" cols="80">
                    </textarea>
                </div>
                <div class="form-group">
                <label class="control-label" for="vission">Vission:</label>
                    <textarea class="form-control" id="vission" name="vission" placeholder="Vission" rows="10" cols="80">
                    </textarea>
                </div>
            </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="button" class="btn btn-primary" name="saveBtn" id="saveBtn">Save</button>
                <button class="btn btn-default" type="button" name="clearBtn" id="clearBtn">Cancel</button>
                <button type="button" class="btn btn-danger" name="deleteBtn" id="deleteBtn">Delete</button>
              </div>
              <div class="clearSpace"></div>
              <hr />
<div id="dataTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead class="" style="background:#00c0ef">
                <tr role="row" class="">
                    <th>SL NO</th>
                    <th>Description</th>
                    <th>Mission</th>
                    <th>Vission</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="aboutTableBody">                   
                </tbody>
              </table>

        </div>

    </div>

  </div>
          </div>
          <!-- /.box -->
          </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    <!-- jQuery 3 -->
        <script src="../../Admin/jquery-3.6.0.min.js"></script>
    <script src="../../Admin/bower_components/jquery/dist/jquery.min.js"></script>
<!-- CK Editor -->
<script src="../../Admin/bower_components/ckeditor/ckeditor.js"></script>
 <!-- CK Editor -->
<script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            CKEDITOR.replace('companyDescription');
            CKEDITOR.replace('mission');
            CKEDITOR.replace('vission');
        })
</script>

    <script src="../../Scripts/Admin/About.js"></script>
</asp:Content>
