﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LoginUI.aspx.cs" Inherits="WebApplicationProject.UI.Admin.LoginUI" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../../Admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("../../Images/background.png");
            background-size: cover;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: red;
                cursor: pointer;
            }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s;
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
    <title></title>

</head>
<body>
    <form id="form1" runat="server">

        <button type="button" onclick="document.getElementById('id01').style.display='block'" id="openModal" style="display: none;">Login</button>

        <div id="id01" class="modal">
            <div class="modal-content animate" style="max-width: 320px; background: #fff; background: rgba(255,255,255, 0.6);">
                <div class="imgcontainer">
                    <%--<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>--%>
                    <img src="../../Images/avatar.png" alt="Logo" class="avatar" />
                </div>

                <div class="container-fluid" style="margin-bottom: 30px;">
                    <div class="col-sm-12">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" autocomplete="on" name="uname" id="uname" required="" runat="server" />
                    </div>
                    <div class="col-sm-12">
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" autocomplete="on" name="psw" id="psw" required="" runat="server" />
                    </div>
                    <div class="col-sm-12">
                        <button type="button" runat="server" id="loginButton">Login</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</body>

<script src="../../Scripts/jquery-3.6.0.min.js"></script>
<script src="../../Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onload = function (event) {
        $("#openModal").trigger('click');
    }
</script>

<script src="../../Scripts/Admin/LoginUI.js"></script>

</html>

