




<div class="footer" style="padding: 25px 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-2">
                <!--<img src="images/logo-short.png"/>-->
                <h4>Sitemap</h4>
                <ul class="">
                    <li><a class="footerBtn" href="index.html">Home</a></li>
                    <li><a class="footerBtn" href="about.html">Company</a></li>
                    <li><a class="footerBtn" href="product_all.html">Products</a></li>
                    <li><a class="footerBtn" href="services.html">Services</a></li>
                    <li><a class="footerBtn" href="support.html">Support</a></li>
                    <li><a class="footerBtn" href="quote.html">Quote</a></li>
                    <li><a class="footerBtn" href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4">
                <!--<img src="images/logo-short.png"/>-->
                <h4>Satisfied Clients</h4>
                <div class="col-sm-6 no-padding">
                    <ul>
                        <li><a class="footerBtn" href="#">Urmi Group</a></li>
                        <li><a class="footerBtn" href="#">Knit Asia Ltd.</a></li>
                        <li><a class="footerBtn" href="#">Pride Group</a></li>
                        <li><a class="footerBtn" href="#">Givensee Group</a></li>
                        <li><a class="footerBtn" href="#">Epyllion Group</a></li>
                        <li><a class="footerBtn" href="#">DIRD Group</a></li>
                        <li><a class="footerBtn" href="#">DBL Group</a></li>
                        <li><a class="footerBtn" href="#">BSRM</a></li>
                        <li><a class="footerBtn" href="#">Anwar Group</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 no-padding">
                    <ul>
                        <li><a class="footerBtn" href="#">Aman Group</a></li>
                        <li><a class="footerBtn" href="#">Abul Khair Group</a></li>
                        <li><a class="footerBtn" href="#">AKH Group</a></li>
                        <li><a class="footerBtn" href="#">Coats Bangladesh</a></li>
                        <li><a class="footerBtn" href="#">Thermax Group</a></li>
                        <li><a class="footerBtn" href="#">Noman Group</a></li>
                        <li><a class="footerBtn" href="#">Saiham Group</a></li>
                        <li><a class="footerBtn" href="#">Amber Group</a></li>
                        <li><a class="footerBtn" href="#">SQUARE</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <!--<img src="images/logo-short.png"/>-->
                <h4>Solutions</h4>
                <ul class="">
                    <li>
                        <a class="footerBtn" href="#">
                            Warehousing Solution
                        </a>
                    </li>
                    <li>
                        <a class="footerBtn" href="#">
                            Dye House Solutions
                        </a>
                    </li>
                    <li>
                        <a class="footerBtn" href="#">
                            Textiles Finishing Floor Solutions
                        </a>
                    </li>
                    <li>
                        <a class="footerBtn" href="#">
                            Fabric Preparation Solutions
                        </a>
                    </li>
                    <li>
                        <a class="footerBtn" href="#">
                            Sample Presentation Solutions
                        </a>
                    </li>
                    <li><a class="footerBtn" href="#">Garments Logistic Solution</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <!--<img src="images/logo-short.png"/>-->
                <h4>Product Partners</h4>
                <ul class="">
                    <li><a class="footerBtn" href="index.html">Automation Partners Inc.</a></li>
                    <li><a class="footerBtn" href="#">Exolloys Engineering Pvt. Ltd</a></li>
                    <li><a class="footerBtn" href="#">Godrej & Boyce Mfg Co. Ltd.</a></li>
                    <li><a class="footerBtn" href="#">INA System</a></li>
                    <li><a class="footerBtn" href="#">Interspare- Artos Krantz</a></li>
                    <li><a class="footerBtn" href="#">Logic Art Automation Co., Ltd</a></li>
                    <li><a class="footerBtn" href="#">Landoll Corporation</a></li>
                    <li><a class="footerBtn" href="#">Polytex AG</a></li>
                    <li><a class="footerBtn" href="#">Suntech Industrial (Int'l) Ltd.</a></li>
                    <li><a class="footerBtn" href="#">Sheeba Engineering Co.</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div>
    <p class="text-center devCompany">Developed &amp; Maintenanced By <a target="_blank" href="http://smartsofttechnology.com/">SmartSoft Technology</a></p>
</div>
